/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.box {
  box-shadow: #333 0px 0px 10px;
  padding: 30px;
  margin: 20px;
}

#animatedButton {
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease; /* CSS Transition */
}

#myButton {
  background-color: #04aa6d;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.animate-fade {
  animation: fadeOut 1s ease-in-out forwards; /* CSS Animation */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

#animationTarget {
  margin-top: 20px;
  padding: 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  opacity: 1;
  transform: scale(1);
}

.fade-in {
  opacity: 0;
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translate(0, 0);
}


/* Animation classes for different directions */
.fade-in-left {
  transform: translateX(-50px);
}
.fade-in-right {
  transform: translateX(50px);
  margin-bottom: 30px;
}
.fade-in-up {
  transform: translateY(50px);
}
.fade-in-down {
  transform: translateY(-50px);
}

footer{
    margin-top: 40px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
